<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{chapter|safe}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="menu">
        <ul>
            <li>
                <button onclick="goToDashboard()" style="background: transparent; border: none; color: inherit; cursor: pointer;">Home</button>
            </li>
            <li>History</li>
            <li onclick="getNotes()">Notes</li>
            <p style="text-align: center;">Welcome to {{ chapter|safe }}!!</p>
            <li style="margin-left: auto;">Settings</li>
        </ul>
    </div>
    <div class="container">
        <div class="video-frame">
            <div class="video">
                <video id="videoPlayer" src="{{ url_for('static', filename='videos/std2.mp4')}}" loop autoplay></video>
            </div>
        </div>
        <div class="chatui-container">
            <div class="chat" id="chatui">
                <p style="margin-left: auto;"> Voice mode 
                    <button onclick="startListening()">&#127908</button>
                    <!-- <button class="stop" onclick="stop()">⛔</button> -->
                </p>
            </div>
            <div class="adjust">
                <input type="text" id="input" placeholder="Enter Question">
                <button onclick="sol()">⇥</button>
                <!-- <button onclick="startListening()">&#127908</button> -->
                 <button class="stop" onclick="stop()">⛔</button>
            </div>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='jsfile/voice.js')}}"></script>
    <script>
        function goToDashboard() {
            let userRole = "{{ role }}"; 
            if (userRole === "student") {
                window.location.href = "/student";
            } else if (userRole === "instructor") {
                window.location.href = "/instructor";
            }
        }
        function getNotes(){
            let subject = new URLSearchParams(window.location.search).get("subject");
            let chapter = new URLSearchParams(window.location.search).get("chapter");
            window.location.href = "/displayNotes?subject="+subject+"&chapter="+chapter;
        }
    </script>
</body>
</html>
